In [1]:
print("Hello")

Hello

In [2]:
print("Hello World")

Hello World

In [3]:
print("Hello")
print("World")

Hello
World

In [4]:
print("'Hello'")

'Hello'

In [5]:
print('"Hello World"')

"Hello World"

In [6]:
print("\"!@#$%^&*()\'") #출력 형식에 필요한 따옴표와 출력할 문자인 따옴표를 구분하기 위하여 \" 또는 \' 를 이용하여 출력할 수 있다.

"!@#$%^&*()'

In [25]:
print("\"C:\\Download\\\'hello\'.py\"")

"C:\Download\'hello'.py"

In [36]:
print("print(\"Hello\\nWorld\")")

print("Hello\nWorld")

In [37]:
c=input()
print(c)

c
c

In [42]:
n = input()
n=int(n)
print(n)

15
15

In [43]:
f = input()
f = float(f)
print(f)

1.412
1.412

In [44]:
a = input()
b = input()
a = int(a)
b = int(b)
print(a)
print(b)

1
2
1
2

In [45]:
a = input()
b = input()
print(b)
print(a)

a
b
b
a

In [47]:
f= input()
f = float(f)
print(f)
print(f)
print(f)

0.1
0.1
0.1
0.1

In [48]:
a,b = input().split()
a = int(a)
b = int(b)
print(a)
print(b)

1 2
1
2

In [50]:
a,b = input().split()
print(b, a)

a b
b a

In [51]:
s = input()
print(s,s,s)

computer science
computer science computer science computer science

In [52]:
a, b = input().split(':')
print(a, b, sep=':')

3:16
3:16

In [53]:
y, m, d = input().split('.')
print(d, m, y, sep = '-')

2020.3.4
4-3-2020

In [54]:
a, b = input().split('-')
print(a,b, sep="")

110011-000000
110011000000

In [57]:
s = input()
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

HELLO
H
E
L
L
O

In [58]:
s=input()
print(s[0:2],s[2:4],s[4:6])

200304
20 03 04

In [59]:
h, m, s = input().split(':')
print(m)

17:23:57
23

In [61]:
w1, w2 = input().split()
s = w1 + w2
print(s)

hello world
helloworld

In [63]:
a, b = input().split()
c = int(a) + int(b)
print(c)

123 -123
0

In [65]:
a = input()
b = input()
c = float(a)+float(b)
print(c)

0.1
0.9
1.0

In [66]:
#10진수 형태로 입력받고 %x로 출력하면 16진수(hexadecimal) 소문자로 출력된다.(%o로 출력하면 8진수(octal) 문자열로 출력된다.)
a = input()
n = int(a)
print('%x'%n)

255
ff

In [67]:
a = input()
n = int(a)
print('%X'%n)

255
FF

In [69]:
# n = int(a, 16)      #입력된 a를 16진수로 인식해 변수 n에 저장
a = input()
n = int(a, 16)
print('%o'%n)

f
17

In [70]:
#n = ord(input())  입력받은 문자를 10진수 유니코드 값으로 변환한 후, n에 저장한다.

n = ord(input())
print(n)

A
65

In [71]:
#chr( )는 정수값->문자, ord( )는 문자->정수값 형태로 바꿔주는
c = int(input())
print(chr(c))

65
A

In [74]:
n = input()
n = int(n)
print(-n)

-1
1

In [83]:
n = ord(input())
print(chr(n+1))

A
B

In [88]:
a, b = input().split()
c = int(a) - int(b)
print(c)

123 -123
246

In [90]:
a, b = input().split()
c = float(a) * float(b)
print(c)

0.5 2.0
1.0

In [91]:
w, n = input().split()
print(w * int(n))

안뇽 3
안뇽안뇽안뇽

In [92]:
n = input()
s = input()
print(int(n)*s)

3
안뇽
안뇽안뇽안뇽

In [93]:
a, b = input().split()
c = int(a)**int(b)
print(c)

2 10
1024

In [94]:
a, b = input().split()
c = float(a)**float(b)
print(c)

4.0 2.0
16.0

In [95]:
a, b = input().split()
c = int(a)//int(b)
print(c)

10 3
3

In [96]:
a, b = input().split()
c = int(a)%int(b)
print(c)

10 3
1

In [100]:
a = input()
a = float(a)
print(format(a,".2f"))

3.141592
3.14

In [102]:
a, b = input().split()
c = float(a)/float(b)
print(format(c,".3f"))

10.0 3.0
3.333

In [106]:
a, b = input().split()
a, b = int(a), int(b)
c = a + b
d = a - b
e = a * b
f = a // b
g = a % b
h = a / b
print(c)
print(d)
print(e)
print(f)
print(g)
print(format(h, ".2f"))

10 3
13
7
30
3
1
3.33

In [109]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)
d = a + b+ c
e = (a+b+c)/3
print(d, format(e,".2f"))

1 2 3
6 2.00

In [111]:
n = input()
n = int(n)
print(n<<1)

1024
2048

In [113]:
a, b = input().split()
a, b = int(a), int(b)
#정수 2개(a, b)를 입력받아 a를 2b배 곱한 값으로 출력해보자.
print(a<<b)

1 3
8

In [115]:
a, b = input().split()
a, b = int(a), int(b)
print(a<b)

1 9
True

In [116]:
a, b = input().split()
a, b = int(a), int(b)
print(a==b)

0 0
True

In [118]:
a, b = input().split()
a, b = int(a), int(b)
print(a<=b)

0 -1
False

In [119]:
a, b = input().split()
a, b = int(a), int(b)
print(a != b)

0 1
True

In [122]:
n = int(input())
print(bool(n))

0
False

In [123]:
a = bool(int(input()))
print(not a)

1
False

In [124]:
a, b = input().split()
print(bool(int(a) and bool(int(b))))

1 1
True

In [125]:
a, b = input().split()
print(bool(int(a) or bool(int(b))))

1 1
True

In [130]:
#참 거짓이 서로 다를 때에만 True 로 계산하는 논리연산을 XOR(exclusive or, 배타적 논리합) 연산이라고도 부른다.
a, b = input().split()
c = bool(int(a))
d = bool(int(b))
print((c and (not d)) or ((not c) and d))

1 0
True

In [137]:
a, b = input().split()
c = bool(int(a))
d = bool(int(b))
print((not c and not d) or (c and d))

0 0
True

In [139]:
a, b = input().split()
c = bool(int(a))
d = bool(int(b))
print( not (c or d))

0 0
True

In [141]:
#입력 된 정수를 비트단위로 참/거짓을 바꾼 후 정수로 출력해보자. 비트단위(bitwise)연산자 ~ 를 붙이면 된다.(~ : tilde, 틸드라고 읽는다.)
a = int(input())
print(~a)

2
-3

In [144]:
a, b = input().split()
a, b = int(a), int(b)
print(a & b)

3 5
1

In [145]:
a, b = input().split()
a, b = int(a), int(b)
print(a | b)

3 5
7

In [148]:
a, b = input().split()
a, b = int(a), int(b)
print((~a & b) | (a & ~b))

3 5
6

In [150]:
a, b = input().split()
a = int(a)
b = int(b)
c = (a if(a>b) else b)
print(int(c))

123 456
456

In [151]:
#조금 헷갈렸음
a, b, c = map(int, input().split())
print((a if a<b else b) if ((a if a<b else b)<c) else c)

3 -1 5
-1

In [152]:
a, b, c = map(int, input().split())
if a%2 == 0:
    print(a)
if b%2 == 0:
    print(b)
if c%2==0:
    print(c)

1 2 4
2
4

In [155]:
a, b, c = map(int, input().split())
if a%2==0 :
  print("even")
else :
  print("odd") 
if b%2==0 :
  print("even")
else :
  print("odd") 
if c%2==0 :
  print("even")
else :
  print("odd")

1 2 8
odd
even
even

In [158]:
n = int(input())
if n < 0:
    if n%2==0:
        print('A')
    else:
        print('B')
else:
   if n%2==0:
        print('C')
   else:
        print('D')

-2147483648
A

In [159]:
n = int(input())
if n>=90 :
  print('A')
else :
  if n>=70 :
    print('B')
  else :
    if n>=40 :
      print('C')
    else :
      print('D')

73
B

In [163]:
n = input()
if n == 'A':
    print('best!!!')
elif n == 'B':
    print('good!!')
elif n == 'C':
     print('run!')
elif n == 'D':
     print('slowly~')
else:
     print('what?')

A
best!!!

In [165]:
n = int(input())
if n//3 == 0:
    print('winter')
elif n//3 == 1:
    print('spring')
elif n//3 == 2:
    print('summer')
elif n//3 == 3:
    print('fall')
elif n//3 ==4:
    print('winter')

12
winter

In [169]:
n = 1
while n!=0:
    n = int(input())
    if n!=0:
        print(n)

7
7
4
4
2
2
3
3
0

In [173]:
n = int(input())
while n!=0:
    print(n)
    n=n-1

5
5
4
3
2
1

In [174]:
n = int(input())
while n!=0:
    print(n-1)
    n=n-1

5
4
3
2
1
0

In [176]:
#chr( )는 정수값->문자, ord( )는 문자->정수값 형태로 바꿔주는
c = ord(input())
t = ord('a')
while t<=c:
    print(chr(t), end =' ')
    t += 1

f
a b c d e f

In [177]:
a = int(input())
t = 0
while t<=a:
    print(t, end = '\n')
    t+=1

4
0
1
2
3
4

In [178]:
n = int(input())
for i in range(n+1):
    print(i)

4
0
1
2
3
4

In [179]:
n = int(input())
s=0
for i in range(1, n+1):
    if i%2 ==0:
        s+=i
print(s)

5
6

In [183]:
while True:
    x = input()
    print(x)
    if x =='q':
        break

e
e
d
d


z
z
q
q

In [198]:
#헷갈렸음
n = int(input())
s=0
for i in range(0, n):
    i +=1
    s+=i
    if s>=n:
        print(i)
        break

55
10

In [201]:
n, m = map(int, input().split())
for i in range(1, n+1):
    for j in range(1, m+1):
        print(i,j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [206]:
a = int(input(), 16)

for i in range(1,16):
    print("%X*%X=%X" % (a, i, a*i))

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [212]:
# ㅠㅠ
n = int(input())
for i in range(1, n+1):
    if i%10==3 or i%10==6 or i%10==9:
        print("X", end=" ") 
    else:
        print(i, end=" ")

9
1 2 X 4 5 X 7 8 X

In [214]:
r,g,b = map(int, input().split())
for i in range(r):
    for j in range(g):
        for k in range(b):
            print(i, j, k)
print(r*g*b)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [228]:
h, b, c, s = map(int, input().split())
i = (h*b*c*s)/8/1024/1024
print(format(i, ".1f"),"MB")

44100 16 2 10
1.7 MB

In [229]:
w, h, b = map(int, input().split())
i = (w*h*b)/8/1024/1024
print(format(i, ".2f"), "MB")

1024 768 24
2.25 MB

In [230]:
n = int(input())
a = 0
b = 0
while True: 
    a+=b
    b+=1
    if a>=n:
        break
print(a)

57
66

In [231]:
n = int(input())
for i in range(1, n+1):
    if i%3 ==0:
        continue
    print(i, end=" ")

10
1 2 4 5 7 8 10

In [237]:
a, d, n = map(int, input().split())
e = a + (n-1)*(d)
print(e)

1 3 5
13

In [239]:
a, r, n = map(int, input().split())
e = a*r**(n-1)
print(e)

2 3 7
1458

In [243]:
a, m, d, n = map(int, input().split())
for i in range(n-1):
    a = a*m +d
print(a)

1 -2 1 8
-85

In [244]:
a, b, c = map(int, input().split())
d=1 
while d%a!=0 or d%b!=0 or d%c!=0:
    d += 1
print(d)

3 7 9
63

In [247]:
n = int(input())
a = list(map(int, input().split()))
for i in range(n-1, -1, -1):
    print(a[i], end = ' ')

10
10 4 2 3 6 6 7 9 9 5
5 9 9 7 6 6 3 2 4 10

In [249]:
n = int(input())
print(min(map(int,input().split())))

10
10 4 2 5
2

In [251]:
d = [[0 for j in range(20)] for i in range(20)]
n = int(input())
for i in range(n):    
   x,y = map(int,input().split())    
   d[x][y] = 1

for i in range(1,20):    
   for j in range(1,20):        
      print(d[i][j], end=' ')   
   print()

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
d=[]
for i in range(20) :
  d.append([])
  for j in range(20) : 
    d[i].append(0)

for i in range(19) :
  a = input().split()
  for j in range(19) :
    d[i+1][j+1] = int(a[j])

n = int(input())
for i in range(n) :
  x,y=input().split()
  x=int(x)
  y=int(y)
  for j in range(1, 20) :
    if d[j][y]==0 :
      d[j][y]=1
    else :
      d[j][y]=0

    if d[x][j]==0 :
      d[x][j]=1
    else :
      d[x][j]=0

for i in range(1, 20) :
  for j in range(1, 20) :
    print(d[i][j], end=' ')
  print()

In [ ]:
h,w = input().split()
h = int(h)
w = int(w)

m = []
for i in range(h+1) :
  m.append([])
  for j in range(w+1) :
    m[i].append(0)

n = int(input())
for i in range(n) :
  l,d,x,y = input().split()
  if int(d)==0 :
    for j in range(int(l)) :
      m[int(x)][int(y)+j] = 1
  else :
    for j in range(int(l)) :
      m[int(x)+j][int(y)] = 1

for i in range(1, h+1) :
  for j in range(1, w+1) :
    print(m[i][j], end=' ')
  print()

In [ ]:
m=[]
for i in range(12) :
    m.append([])
    for j in range(12) :
        m[i].append(0)

for i in range(10) :
    a=input().split()
    for j in range(10) :
        m[i+1][j+1]=int(a[j])

x=2
y=2
while True :
    if m[x][y]==0 :
        m[x][y]=9
    elif m[x][y]==2 :
        m[x][y]=9
        break

    if (m[x][y+1]==1 and m[x+1][y]==1) or (x==9 and y==9) :
        break

    if m[x][y+1]!=1 :
        y+=1
    elif m[x+1][y]!=1 :
        x+=1
    

for i in range(1, 11) :
    for j in range(1, 11) :
        print(m[i][j], end=' ')
    print()